[submodule "rh-ms"]
	path = rh-ms
	url = git@github.com:EscAdn/CTS-RECURSOS-HUMANOS-MS.git
[submodule "client-gateway-ms"]
	path = client-gateway-ms
	url = git@github.com:EscAdn/CTS-CLIENT-GATEWAY-MS.git
[submodule "auth-ms"]
	path = auth-ms
	url = git@github.com:EscAdn/auth-microservice.git
[submodule "staffing-ms"]
	path = staffing-ms
	url = git@github.com:CTS-Operaciones/CTS-STAFFING-MS.git
[submodule "op-ms"]
	path = op-ms
	url = git@github.com:CTS-Operaciones/CTS-OPERATIONS-MS.git
[submodule "cts-entities"]
	path = cts-entities
	url = git@github.com:CTS-Operaciones/CTS-ENTITIES-MS.git
[submodule "saga-ms"]
	path = saga-ms
	url = git@github.com-cts:CTS-Operaciones/CTS-SAGA-MS.git
[submodule "notificatios-ms"]
	path = notificatios-ms
	url = git@github.com:CTS-Operaciones/CTS-NOTIFICATIONS.git
[submodule "marketing-ms"]
	path = marketing-ms
	url = git@github.com:CTS-Operaciones/CTS-MARKETING.git
